<nav id="top-nav"  class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ananke</a>
    </div>

    <div  class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="/"><span aria-hidden="true"></span>Home</a></li>
      <li><a href="/goals/today">Today</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Group <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for group in groups %}
            <li><a href="/goals/group/{{group}}">{{group}}</a></li>
          {% endfor %}
        </ul>
      </li>

      <li><a href="/goals/archived">Archived</a></li>
      <li><a href="/goals/new">Add Goal</a></li>
    </ul>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{username}}</a></p>
    </div>
  </div>
</nav>
