<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Group <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for group in groups %}
            <li><a href="/goals/group/{{group}}">{{group}}</a></li>
          {% endfor %}
        </ul>
      </li>

      <li><a href="/goals/archived">Archived</a></li>
      <li><a href="/goals/new">Add Goal</a></li>
    </ul>
  </div>
</nav>
